body{
    margin:0px;
}
main{
    margin:20px;
}



.navbar ul{

    list-style-type: none;
    background-color: red;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(210, 210, 201) ;

}

.navbar li{
    float:left;
   
}

.pic1 {
    border: 5px solid red;
   border-radius: 30%;
   
}

.pic2 {
    border: 5px solid red;
   border-radius: 30%;
   
}

p{
color: antiquewhite;

}




h3{
color: rgb(255, 0, 0);
font-size: xx-large;


}

button{
    padding:10px 20px

}

#more {display: none;}

.contact{
    font-size: larger;
    color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 4;
    
    
    }
    
    input[type=text], textarea {
        width:100%;
        padding: 15px;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
        
        
        
    }
    
    input[type=submit]{
    background-color: rgb(255, 0, 0);
    color:antiquewhite;
    padding: 12px 20px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 4;
    
    
    }
    
    input[type=submit]:hover{
        background-color: rgb(162, 162, 162);
        grid-column-start: 1;
    grid-column-end: 4;
    }
    
    .container{
        border-radius:5px;
        background-color: rgb(0, 0, 0);
        padding:10px;
        grid-column-start: 1;
    grid-column-end: 4;
    
    
    
    }
    

